body, * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#mainHeader {
  background-color: #800000;
  height: 9.125rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

#MainLogo {
  cursor: pointer;
}

#MainBtnContainer {
  position: absolute;
  right: 0;
  top: 20px;
  padding: .5rem;
}

#SignupBtn {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 12px;
  background: none;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#LoginBtn {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 12px;
  background: none;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#MainContainer {
  -webkit-animation: transitionIn 0.75s;
          animation: transitionIn 0.75s;
}

#LoginBtn:hover {
  background-color: white;
  color: #800000;
  -webkit-transition: 1s;
  transition: 1s;
}

#SignupBtn:hover {
  background-color: white;
  color: #800000;
  -webkit-transition: 1s;
  transition: 1s;
}

.headline {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  height: 5rem;
  background-color: #800000;
  color: white;
  text-align: center;
  align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ScoreTally {
  width: 47.688rem;
  height: 53.938rem;
  background-color: antiquewhite;
}

#containerInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.carousel {
  margin: 0 auto;
  /* Horizontal centering */
}

/* Basic styles for the table */
.table-container {
  overflow-x: auto;
}

table {
  margin-top: 3rem;
  padding: 2rem;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  color: white;
  background-color: #800000;
}

/* Make the table responsive */
@media (max-width: 768px) {
  th, td {
    font-size: 14px;
  }
}

.bracket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.round {
  margin: 20px;
}

.matchup {
  margin-bottom: 20px;
}

.team {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.winner {
  background-color: #c8e6c9;
}

.champion {
  color: gold;
  position: absolute;
  right: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.error {
  color: red;
}

.non-clickable {
  pointer-events: none;
}

h2 {
  font-weight: bold;
  margin-bottom: 20px;
  /* Adds some space between the header and the table */
}

.c-item {
  height: 50vh;
}

.c-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

#spfooter {
  width: 100%;
  height: 24.875rem;
  background-color: #800000;
  background-size: cover;
  color: white;
  padding: 20px 20px 20px 20px;
  position: relative;
  top: 0;
  bottom: 0;
}

#spfooter * {
  color: white;
  text-decoration: none;
}

#spfooter a {
  font-weight: 100;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-decoration: underline;
}

#spfooter a:hover {
  color: lightgray;
  text-decoration: underline;
}

@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
/*# sourceMappingURL=style.css.map */