$MainColor:#800000;

body,*{padding: 0; margin: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}

#mainHeader{
    background-color: #800000;
    height: 9.125rem;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    
}

#MainLogo{
    cursor: pointer;
}

#MainBtnContainer{
    position: absolute;
    right: 0;
    top: 20px;
    padding: .5rem;
}

#SignupBtn{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 12px;
    background: none;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#LoginBtn{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 12px;
    background: none;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#MainContainer{
    animation: transitionIn 0.75s;

}

#LoginBtn:hover{
    background-color: white;
    color: $MainColor;
    transition: 1s;
}
#SignupBtn:hover{
    background-color: white;
    color: $MainColor;
    transition: 1s;
    
}

.headline{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    height: 5rem;
    background-color: #800000;
    color: white;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ScoreTally{
    width: 47.688rem;
    height: 53.938rem;
    background-color: antiquewhite;
}

#containerInner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .carousel {
    margin: 0 auto; /* Horizontal centering */
  }



/* Basic styles for the table */
.table-container {
    overflow-x: auto;
  }
  table {
    margin-top: 3rem;
    padding: 2rem;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    color: white;
    background-color: #800000;
  }
  
  /* Make the table responsive */
  @media (max-width: 768px) {
    th, td {
      font-size: 14px;
    }
  }



// Carousel
.c-item {
    height: 50vh;
  }
  
  .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

#spfooter{
    width: 100%;
    height: 24.875rem;
    background-color: #800000;
    background-size: cover;
    color: white;
    padding: 20px 20px 20px 20px;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg); 
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }


}